<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="admin/fragments/header :: head">
</head>
<body>
<nav th:include="admin/fragments/navbar :: nav"></nav>
<div class="container">
	<div class="row">
	<nav th:include="admin/fragments/menu :: nav"></nav>
	
	<div role="main" class="col-sm-9 ml-sm-auto col-md-10">
		<form th:action="@{'/dashboard/authors/add/'}" method="post" th:object="${author}">
			<fieldset>
				<legend>Szerző hozzáadása</legend>
			</fieldset>
				<div class="row">
					<div class="col-lg-6">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Hibás név!</div>
						<div class="form-group">
							<label for="username">Felhasználónév: <sup class="red-star">*</sup></label>
              				<input type="text" placeholder="Felhasználónév" name="username" maxlength="30" required="required" autofocus="autofocus" class="form-control" th:field="*{username}"/>
              				<small class="text-muted">Minimum 3, maximum 30 karakter.<br/>Ezzel a felhasználói névvel tudsz majd bejelentkezni</small>
              			</div>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Hibás név!</div>
						<div class="form-group">
							<label for="name">Név: <sup class="red-star">*</sup></label>
              				<input type="text" placeholder="Név" name="name" maxlength="30" required="required" class="form-control" th:field="*{name}"/>
              				<small class="text-muted">Minimum 3, maximum 30 karakter.<br/>Ez a név látható majd a cikk címe alatt.</small>
              			</div>
              			<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Hibás jelszó!</div>
						<div class="form-group">
							<label for="password">Jelszó: <sup class="red-star">*</sup></label>
              				<input type="password" placeholder="Jelszó" name="password" required="required" class="form-control" th:field="*{password}"/>
              				<small class="text-muted">Minimum 5 karakter.Kisbetű, nagybetű és számok használata ajánlott. <br/>Ezzel a jelszóval tudsz majd belépni.</small>
              			</div>
              			<p>Közösségi profilok hivatkozásai</p>
              			<hr/>
              			<div class="form-group">
              				<div class="row">
              					<div class="col-lg-1">
              						<img th:src="@{/image/icons/facebook-icon.png}"/>
              					</div>
              					<div class="col-lg-11">
              						<input type="text" name="fbProfile" maxlength="255" placeholder="https://ww.facebook.com/some.body" class="form-control" th:field="*{fbProfile}"/>
              					</div>
              				</div>
              				<small class="text-muted">Facebook profil elérési út (opcionális)</small>
              			</div>
              			<div class="form-group">
              				<div class="row">
              					<div class="col-lg-1">
              						<img th:src="@{/image/icons/twitter-icon.png}"/>
              					</div>
              					<div class="col-lg-11">
              						<input type="text" name="twitterProfile" maxlength="255" placeholder="https://www.twitter.com/some.body" class="form-control" th:field="*{twitterProfile}"/>
              					</div>
              				</div>
              				<small class="text-muted">Twitter profil elérési út (opcionális)</small>
              			</div>
              			<div class="form-group">
              				<div class="row">
              					<div class="col-lg-1">
              						<img th:src="@{/image/icons/linkedin-icon.png}"/>
              					</div>
              					<div class="col-lg-11">
              						<input type="text" name="linkedinProfile" maxlength="255" placeholder="https://www.linkedin.com/some.body" class="form-control" th:field="*{linkedinProfile}"/>
              					</div>
              				</div>
              				<small class="text-muted">LinkedIn profil elérési út (opcionális)</small>
              			</div>
              			<div class="form-group">
              				<div class="row">
              					<div class="col-lg-1">
              						<img th:src="@{/image/icons/github-icon.png}"/>
              					</div>
              					<div class="col-lg-11">
              						<input type="text" name="githubProfile" maxlength="255" placeholder="https://www.github.com/" class="form-control" th:field="*{githubProfile}"/>
              					</div>
              				</div>
              				<small class="text-muted">Github profil elérési út (opcionális)</small>
              			</div>
					</div>

					<div class="col-lg-6">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}">Hibás avatar URL!</div>
              			<div class="form-group text-center">
              				<img src="" id="img_avatar" style="margin-bottom: 15px;"/>
              				<input type="text" placeholder="Avatarkép elérési URL" id="avatar" name="avatar" maxlength="255" required="required" class="form-control" th:field="*{avatar}" onchange="previewAvatar()"/>
              				<small class="text-muted">Avatar kép elérési URL-je.Ez a kép fog látszani a főoldalon.<br/>Minimum 3, maximum 255 karakter.<sup class="red-star">*</sup></small>
              			</div>
					</div>
              	</div>
              	<div class="form-group">
              		<b>A <sup class="red-star">*</sup>-al megjelölt mezők kitöltése kötelező!</b>
              	</div>
              	<div class="form-group">
              		<input type="submit" class="btn btn-success" value="Mentés"/>
              	</div>
		</form>
    </div>
	</div>
</div>
	<script type="text/javascript">
		function previewAvatar() {
			var url = document.getElementById("avatar").value;
			var img = document.getElementById("img_avatar");
			img.src = url;
		}
	</script>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>