<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="admin/fragments/header :: head">
</head>
<body>
<nav th:include="admin/fragments/navbar :: nav"></nav>
<div class="container">
	<div class="row">
	<nav th:include="admin/fragments/menu :: nav"></nav>
	
	<div role="main" class="col-sm-9 ml-sm-auto col-md-10">
		<h1>Posztok</h1>
			<a th:href="@{/dashboard/authors/add}" class="btn btn-success pull-right">Új szerző hozzáadása</a>
			<br/>
			<th:block th:if="${!#strings.isEmpty(flashMessage)}">
		  		<div th:text="${flashMessage}" class="alert alert-success" style="margin-top:10px"></div>
		  	</th:block>
          <table class="table table-responsive table-striped table-hover pt-3">
          	<thead><tr><th>Név</th><th>Avatar</th><th>FB</th><th>Twitter</th><th>Linkedin</th><th>Műveletek</th></tr></thead>
          	<tr th:each="a : ${authors}">
          		<td th:text="${a.name}"></td>
          		<td><img th:src="${a.avatar}" width="30" height="30" class="img-responsive thumbnail"/></td>
          		<td><a th:if="${a.fbProfile != null}" th:href="${a.fbProfile}" target="new"><img th:src="@{/image/icons/facebook-icon.png}"/></a></td>
          		<td><a th:if="${a.twitterProfile != null}" th:href="${a.twitterProfile}" target="new"><img th:src="@{/image/icons/twitter-icon.png}"/></a></td>
          		<td><a th:if="${a.linkedinProfile != null}" th:href="${a.linkedinProfile}" target="new"><img th:src="@{/image/icons/linkedin-icon.png}"/></a></td>
          		<td>
          			<a th:href="@{'/dashboard/authors/edit/' + ${a.name}}"><img th:src="@{/image/icons/edit.png}" alt="Szerkeszt"/></a>
          		</td>
          	</tr>
          </table>
    </div>
	</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>