<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorator="/admin/layouts/dashboard">
<head>
	<title th:text="#{editPageTitle}"></title>
	<link rel="stylesheet" th:href="@{/js/sceditor/themes/default.min.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery.tagit.css}" />
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/redmond/jquery-ui.css"/>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<div class="row">
		<nav th:include="admin/fragments/menu :: nav"></nav>
		<div role="main" class="col-sm-9 ml-sm-auto col-md-10">
			<form th:action="@{'/dashboard/posts/edit/'} + ${post.slug}" method="post" th:object="${post}">
				<fieldset>
					<legend th:htext="#{editPageTitle}"></legend>
				</fieldset>
              	<div th:include="/admin/fragments/composeAndEditForm :: form"></div>
              	<div class="form-group">
              		<input type="submit" class="btn btn-success" value="Mentés"/>
              	</div>
			</form>
    	</div>
    	<div th:include="/admin/fragments/sceditor :: sceditor"></div>
		</div>
	</div>
	<script type="text/javascript">
    $(document).ready(function() {
        var text = document.getElementById('editor').value;
		var bbcode = $("#editor").sceditor('instance').toBBCode(text);
		$("#editor").sceditor('instance').val(bbcode);
    });
	</script>
</div>
</body>
</html>