<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="admin/fragments/header :: head">
</head>
<body>
<nav th:include="admin/fragments/navbar :: nav"></nav>
<div class="container">
	<div class="row">
	<nav th:include="admin/fragments/menu :: nav"></nav>
	
	<div role="main" class="col-sm-9 ml-sm-auto col-md-10">
		<h1>Posztok</h1>
			<a th:href="@{/dashboard/posts/compose}" class="btn btn-success pull-right">Új bejegyzés írása</a>
			<br/>
			<th:block th:if="${!#strings.isEmpty(flashMessage)}">
		  		<div th:text="${flashMessage}" class="alert alert-success" style="margin-top:10px"></div>
		  	</th:block>
          <table class="table table-responsive table-striped table-hover pt-3">
          	<thead><tr><th>Cím</th><th>Elérési URL</th><th>Szerző</th><th>Feltöltve</th><th>Szerkesztve</th>
          		<th>Műveletek</th></tr></thead>
          	<tr th:each="p : ${posts}">
          		<td><a th:href="@{'/poszt/'+ ${p.slug}}" th:text="${p.title}" target="new"></a></td><td th:text="${p.slug}"></td><td th:text="${p.author.name}"></td>
          		<td th:text="${#dates.format(p.uploaded, 'yyyy.MM.dd hh:MM')}"></td>
          		<td th:if="${p.edited != null}" th:text="${#dates.format(p.edited, 'yyyy.MMM.dd hh:MM')}"></td>
          		<td th:unless="${p.edited != null}" th:text="soha"></td>
          		<td>
          			<a th:href="@{'/dashboard/posts/edit/' + ${p.slug}}"><img th:src="@{/image/icons/edit.png}" alt="Szerkeszt"/></a>
          			<a th:href="@{'/dashboard/posts/hide/' + ${p.slug}}"><img th:src="@{/image/icons/hide.png}" alt="Elrejt"/></a>
          		</td>
          	</tr>
          </table>
    </div>
	</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>