<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorator="/layouts/main">
<head>
	<title>404</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<div class="page-header text-center"><h1>404</h1>
			<p th:text="#{error404Title}">A kért URL nem található</p>
			<p th:text="#{error404CheckUrl}">Ellenőrizd hogy helyesen írtad-e be a címet, Esetleg a bejegyzés soha nem is létezett, vagy már törölve lett.</p>
		</div>
	</div>
	<div style="margin-bottom:62px;"></div>
</div>
</body>
</html>