<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="fragments/header :: head">
</head>
<body>
	<nav th:include="fragments/navbar :: nav"></nav>
	<div class="jumbotron text-center" style="background-color: white;">
		<div class="page-header"><h1>403</h1></div>
		<p>You are banned from this server !</p>
		<p>Reason : maximum login attempts limit reached !</p>
	</div>
	<div style="margin-bottom:62px;"></div>
	<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>