<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorator="/layouts/main">
<head>
	<title th:text="${post.title}"></title>
	<meta property="og:title" th:content="${post.title}"/>
	<meta th:if="${#strings.length(post.content)} > 30" property="og:description" th:content="${#strings.substring(post.content,0,30)}" /> 
	<meta property="og:image" th:content="${post.author.avatar}" />
	<meta property="og:type" content="article" />
	<meta property="article:published_time" th:content="${post.uploaded}" />
	<meta th:if="${post.edited != null}" property="article:modified_time" th:content="${post.edited}" />
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="blogpost-box">
					<div class="card-body">
						<h2 class="card-title" th:text="${post.title}"></h2> <hr/>
						<ul class="inline blogpost-header">
						  <li class="list-inline-item"><span class="glyphicon glyphicon-user"></span> <b th:text="${post.author.name}"></b></li>
						  <li class="list-inline-item"><span class="glyphicon glyphicon-calendar"></span> <i th:text="${#dates.format(post.uploaded, 'yyyy.MM.dd')}"></i> </li>
						  <li class="list-inline-item"><span class="glyphicon glyphicon-tags"></span></li>
						  <li th:each="t : ${post.tags}" class="list-inline-item ">
							<a th:href="@{'/cimke/'+${t.tag}}" th:text="'#'+${t.tag}"></a>
						  </li>
						</ul>
					</div>
					<div class="card-body">
						<p class="card-text blogpost-excerpt" th:utext="${post.content}"></p>
					</div>
				</div>
				<hr/>
       		</div>
       		
       		<!-- Sidebar Widgets Column -->
       		<div class="col-md-4">
       			<div class="card my-4">
           			<h5 class="card-header" th:text="#{sbRecent}"></h5>
           			<div class="card-body text-left">
           				<ul class="">
           					<li th:if="${recentPosts != null}" th:each="p : ${recentPosts}" class="list-item">
           						<a th:href="@{'/poszt/' + ${p.slug}}" target="new" th:text="${p.title}"></a>
           					</li>
           				</ul>
           			</div>
       			</div>
          		<div th:include="/fragments/tags :: tags"></div>
       		</div>
     	</div>
	</div>
</div>
</body>
</html>