<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorator="/layouts/main">
<head>
	<title th:text="${title}"></title>
	<meta property="og:title" th:content="${title}"/>
	<meta property="og:description" th:content="${bio}"/>
	<meta property="og:image" th:content="${author.avatar}" />
</head>
<body>
	<div layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="posts">
				<div th:include="/fragments/list :: postList(${posts.content})"></div>
				<a th:href="@{/megtobb/(page=${posts.pageNumber +1})}" class="jscroll-next btn btn-primary btn-block" 
				style="margin-bottom: 15px;" role="button" th:text="#{scrollBtnTitle}"></a>
			</div>
      		<div class="col-md-4" th:include="fragments/sidebar :: sidebar">
     		</div>
     	</div>
	</div>
	<script th:src="@{/js/plugins/jquery.jscroll.min.js}"></script>
    <script type="text/javascript">
 	$('#posts').jscroll({
     loadingHtml: '<img th:src="@{image/ajax-loader.gif}" class="loading-anim"/>', 
     autoTrigger: false});
 	</script>
</div>
</body>
</html>