<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" layout:decorator="/layouts/main">
<body>
<div layout:fragment="content">
	<div class="container">
		<div class="page-header"><h3 class="glyphicon glyphicon-tags"> <b th:text="${tag}"></b></h3></div>
		<div class="row">
			<div class="col-md-8" id="posts">
					<div th:include="fragments/list :: postList(${posts})"></div>
				</div>
			<div class="col-md-4" th:include="fragments/sidebar :: sidebar">
     		</div>
		</div>
	</div>
</div>
</body>
</html>